// *,
// *:before,
// *:after {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box; }

.left-btn-container{
  display: inline-block;
  // width: 100px;
  flex-basis: 91px;
   flex-grow: 1;



  // background-color: rgb(1, 7, 49);

    background-color: rgb(3, 10, 68);

}
.right-btn-container{

  flex-basis: 91px;

  flex-grow: 1;
 
    background-color: rgb(3, 10, 68);


}
.game-control{
  margin-top: 100px;
  // width: 50%;
  // margin: 0;
  // display: inline-block;
}
.size-control{
  margin-top: 100px;
  // display: inline-block;
}

.right-btn-container{
  display: inline-block;
}


  .game-control{
   
    button{
      background-color: rgb(83, 83, 83);
      border: none;
       color:rgb(0, 0, 22);
      margin: 3px;
       width: 81px;

      
    }

     display: flex;

     flex-wrap: wrap;
     justify-content: center;
    
  }
  #run{
    color: rgb(206, 201, 201);
  }
  .size-control{
    button{
         background-color: rgb(83, 83, 83);
         color:rgb(0, 0, 22);
      border: none;
       margin: 3px;
       width: 81px;
    }


         display: flex;

     flex-wrap: wrap;
     justify-content: center;
  }


  .add-cells-container{
    button{
      padding: 8px;
      width: 75px;
      margin: 0 auto;

      // margin-top: 2px;
      margin-bottom: 12px;

    }
    
    h5{
            color: rgb(225, 48, 48);

       text-transform: uppercase;
    }



}

.unpressed-btn{
 -webkit-box-shadow: 2px 3px 1px 0px rgba(112,112,112,1);
-moz-box-shadow: 2px 3px 1px 0px rgba(112,112,112,1);
box-shadow: 2px 3px 1px 0px rgba(112,112,112,1);
      background-color: rgba(231, 226, 226, 0.932);
}
.pressed-btn{
    // background: #e5e5e5;
     border: 2px solid grey;
  //  background: #ec0606;
   outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}

.video-display{
  border: 4px solid rgb(140, 102, 177);
  border-radius: 20px;
  width: 180px;
  height: 45px;
  background-color: white;
  color: rgb(98, 28, 28);

  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 60px;
   text-transform: uppercase;
  // background-color: rgb(106, 88, 88);
      // -webkit-box-shadow: inset 0px 0px 0px #c92b2b;
      // -moz-box-shadow: inset 0px 0px 0px #f51111;
            box-shadow: inset 0px 0px 0px  #e60b0b;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
    height: 151px;
    text-align: center;
    // border: 1px solid red;
    margin: 0 auto;

    
  }



.slider {
    -webkit-appearance: none;
    width: 90px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;

      border: 5px solid grey;
    position: relative;
    top:105px;
     z-index: 0;
    }

.slider::-webkit-slider-thumb {
      -webkit-appearance: none;
   //  appearance: slider-vertical;
  //  -webkit-appearance: slider-vertical; /* WebKit */
    width: 25px;
    height: 25px;
  
    z-index: 1;
    border-radius: 50%;
    background: grey;
   
    cursor: pointer;
   position: relative;
    // top:60px;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
  
    z-index: 1;
    border-radius: 50%;
    background: grey;
   
    cursor: pointer;
   position: relative;
}


.add-cells-container{
  position: relative;
  text-align: center;
  
  display: flex;
  flex-wrap: wrap;
  top: 21%;
  justify-content: center;
  align-content: center;
  // top: 140px;
}