

.App{
  width: 100%;
  height: 100%;
  // background-color: #263238;

}

main{
  
  margin: 0 auto;
  // width: 100%;
  min-width: 100%;

}

.cell{
  border: 1px solid white;
  border-radius: 5px;


  width: 20px;
  height: 9px;
  // height: 2%;
 

  //10(10 by 10) 5 (20 by 20 ) 2 (50 by 50)

  background-color: #EEEEEE;

}


.game-container{
  border: 8px solid rgb(0,0,0);
  
//
  border-radius: 5px;
  //total 1200 + 91 * 2 + 8 * 2
  width: 1403px;
  min-width: 1402px;
  margin: 0 auto;

  display: flex;
  justify-content: center;

}

.game-board{
 

  display: flex;
  // display: inline-block;
  flex-wrap: wrap;


}
.small-board{
   width: 800px;
}
.medium-board{
  width: 1000px;
}
.large-board{
  width: 1200px;
}



.alive{
    // background: #1565C0
    background: rgb(149, 14, 146);


  }


.fast-text{
  
     color: rgb(225, 48, 48);
      position: relative;
      // right: 15%;
      top: -35px;
       text-transform: uppercase;
      // left: 0;
  

}
.slow-text{
  
      
     color: rgb(225, 48, 48);
      position: relative;
      text-transform: uppercase;
      // right: 15%;
      top: 50px;
      // left: 0;
  

}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    height: 151px;
    text-align: center;
    // border: 1px solid red;
    margin: 0 auto;

    
  }



.slider {
    -webkit-appearance: none;
    width: 90px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;

      border: 5px solid grey;
    position: relative;
    top:105px;
     z-index: 0;
    }

.slider::-webkit-slider-thumb {
      -webkit-appearance: none;
   //  appearance: slider-vertical;
  //  -webkit-appearance: slider-vertical; /* WebKit */
    width: 25px;
    height: 25px;
  
    z-index: 1;
    border-radius: 50%;
    background: grey;
   
    cursor: pointer;
   position: relative;
    // top:60px;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
  
    z-index: 1;
    border-radius: 50%;
    background: grey;
   
    cursor: pointer;
   position: relative;
}


.add-cells-container{
  position: relative;
  text-align: center;
  
  display: flex;
  flex-wrap: wrap;
  top: 21%;
  justify-content: center;
  align-content: center;
  // top: 140px;
}

.stats{
  display: flex;
  margin: 0 auto;
  border: 2px solid grey;
  border-bottom: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  justify-content: center;
  //  align-content: space-between;
  width: 310px;
  
  p{
    // border: 1px solid red;
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;

    // border: 1px solid grey;
  }
  span{
    margin-left: 6px;
  }
  .divide{
      margin-left: 25px;
    margin-right: 25px;
  }
}